* {
    margin: 0;
    border: 0;
    padding: 0;
    transition: .5s;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    .flash {
        transition-timing-function: linear;
        box-shadow: 0 0 10px 10px red;
    }

    .flex {
        color: red !important;
        text-shadow: -1px -1px 0px yellow, 1px -1px 0px yellow, -1px 1px 0 yellow, 1px 1px 0 yellow !important;
    }
    
    #totalhit {
        color: white;
        display: block;
        position: relative;
        top: 50%;
        left: 10vw;
        font-size: 2.5vw;
        transform: translateY(-50%);
    }
    
    .copy {
        color: white;
        font-size: 2vw;
        display: block;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    
    .tnav {
        color: white;
        font-size: 3.5vw;
        font-weight: bold;
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    
    .section {
        display: block;
        height: 100px;
        width: 100%;
    }
    
    .sectionTitle {
        color: black;
        font-weight: bold;
        font-size: 4vw;
        width: 100%;
        display: block;
        text-align: center;
        top: 3vw;
        position: relative;
    }
    
    .sectionSubtitle {
        width: 100%;
        position: relative;
        display: block;
        text-align: center;
        top: 2vw;
        font-size: 2.5vw;
        color: black;
        font-weight: bold;
    }
    
    .sectionDesc {
        color: black;
        position: relative;
        display: block;
        font-size: 2vw;
        margin: 3vw;
        text-align: justify;
    }
    
    .servicesRow {
        width: calc(75vw/3);
        position: relative;
        display: inline-block;
    }
    .servicesRow a {
        color: greenyellow;
        font-size: 2vw;
        font-weight: normal;
    }
    
    .form {
        display: block;
        position: relative;
        width: 90%;
        margin-top: .5vw;
        height: 40pt;
        border-radius: 1vw;
        font-size: 1.5vw;
        padding: .5vw;
    }
    
    .flash {
        box-shadow: (255, 0, 0) 0px 0px 30px 0px;
        transition: .5s;
    }
    
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }
    
        /* Modal Content */
        .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        height: 50vw;
        }
    
        /* The Close Button */
        .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        }
    
        .close:hover,
        .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
        }
    
    #buttons {
        display: block;
        position: relative;
        left: 70vw;
        top: 111vw;
        right: 0px;
    }
    
    #buttons li {
        list-style: none;
        text-align: center;
        background-color: red;
        width: 26vw;
        margin-top: 1vw;
        border-radius: 1vw;
        border: solid 0.5vw black;
        padding: 0.4vw;
        font-size: 1.5vw;
    }
    
    #buttons a {
        color: white;
        cursor: pointer;
    }
    
    .image-box div {
        margin: 0.5vw;
        margin-top: 1vw;
        height: 35vw;
        width: calc(85vw/3);
        display: inline-flex;
        background: no-repeat center;
        background-size: cover;
    }
    
    .image-box div a {
        top: 30vw;
        position: relative;
        display: block;
        transform: translateY(-13%);
        color: white;
        font-size: 2.5vw;
        font-weight: bold;
        width: 80%;
        padding: 0;
        left: 5%;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        height: 0;
    }
    
    .inverted-bar {
        position: absolute;
    }
    
    .inverted-bar:before,
    .inverted-bar:after {
        padding: 10px 0;
        text-indent: 10px;
        position: absolute;
        white-space: nowrap;
        overflow: hidden;
        content: attr(data-content);
    }
    
    .inverted-bar:before {
        background-color: transparent;
        color: white;
        width: 100%;
    }
    
    .inverted-bar:after {
        background-color: transparent;
        color: blue;
        width: 53vw;
    }
    
    
    @font-face {
        font-family: AnandaBlack;
        src: url(AnandaBlack.ttf);
    }
    
    @font-face {
        font-family: DigitalClock;
        src: url(Digital.ttf)
    }
    
    #img-zoomer-box {
        height: auto;
        position: relative;
        margin: 10px auto;
    }
    
    #img-1 {
        width: 100%;
        height: auto;
    }
    
    #img-zoomer-box:hover, #img-zoomer-box:active {
        cursor: zoom-in;
        display: block;
    }
    
    #img-zoomer-box:hover #img-2, #img-zoomer-box:active #img-2 {
        opacity: 1;
    }
    #img-2 {
        width: 340px;
        height: 340px;
        background: url('https://cdn.discordapp.com/attachments/1130911211907731506/1130911305587499098/mindanao.jpg') no-repeat #FFF;
        box-shadow: 0 5px 10px -2px rgba(0,0,0,0.3);
        pointer-events: none;
        position: absolute;
        opacity: 0;
        border: 4px solid whitesmoke;
        z-index: 99;
        border-radius: 100%;
        display: block;
        transition: opacity .2s;
    }